@import "tailwindcss";

 :root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: oklch(85.5% 0.138 181.071);
}


  @keyframes marquee-rtl {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes marquee-ltr {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

       
@theme {
  --animate-marquee-rtl: marquee-rtl 30s linear infinite;
  --animate-marquee-ltr: marquee-ltr 30s linear infinite;
}



 
 @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
   --color-primary: var(--primary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

